*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
    background-image: url("assets/Bgimg.png");
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: multiply;
      }
  .container{
    overflow: hidden;
    max-width: 1440px;
    margin: 0;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    font-weight: 900;
    gap: 40px;
  }
  .navbar img{
    height: 2rem;
  }
  .list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Crimson+Pro', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(236, 198, 7);
    gap: 3rem;
    list-style: none;
  }
  .button-small{
    background-color: red;
    border: none ;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 900;
    margin-right: 2rem;
    cursor: pointer;

  }

.hero{
  align-items: center;
  justify-content: center;
}
.hero-heading{
  text-align: center;
  color: rgb(236, 198, 7);
  font-size: 8rem;
  margin-top: 4rem;
  font-weight:600;
  font-family:'Crimson Pro',sans-serif;
}

.button-large{
  background-color: red;
  border: none ;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 38rem;
  margin-top: 1.5rem;
  font-weight: 900;
  cursor: pointer;
}


